.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.input {
    width: 100%;
    outline: none;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 8px;
    margin-top: 15px;
}

.input:focus {
    border: 1px solid orange;
}

.select {
    height: 40px;
    outline: none;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 10px;
    margin-top: 15px;
}

.select:focus {
    border: 1px solid orange;
}


.label {
    margin-top: 15px;
}