.product {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px transparent;
  padding: 15px;
  transition: 0.2s ease-in-out;
}

.product:hover {
  border: 1px solid #ccc;
  box-shadow: 0 0 10px 1px #ccc;
}

.img {
  width: 100%;
  height: 140px;
  background: #ccc;
  margin: 0 auto;
  transition: 0.2s ease-in-out;
}

.product:hover .img {
  background: #d7d7d7;
}

.title {
  font-weight: 600;
}

.descrioption {
  font-size: 0.8em;
}

.add-btn {
  width: 100%;
  margin-top: auto;
}