* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    color: var(--tg-theme-text-color);
    background-color: var(--tg-theme-bg-color);
}

.App {
    padding: 10px;
}